.container {

}
.container .container-list {
    display: flex;
}
.container .container-list .list {
    display: flex;
    list-style: none;
}
.container .container-list .list .list-button {
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;

}
.container .container-list .list a {
    text-decoration: none;

}
.container .container-list .list .list-button .button-text{
    color: white;
    font-family: arial;
    font-size: 20px;
}